@use "../../../../style/colours";
@use "../../../../style/layouts";
@use "../../../../style/spacings";
@use "../../../../style/components/button.scss";

#group-card {
  @include layouts.flex(column, center, stretch);
  background-color: white;
  border: solid 1.5px colours.$dark-grey;
  border-radius: 10px;
  margin: 0 0 spacings.$l 0;

  #group-header {
    @include layouts.flex(row, space-between, center);
    margin: spacings.$l;

    a {
      @extend %rounded-button;
      color: black;
      background-color: colours.$yellow;
    }
  }
  #group-details {
    border-top: solid 1px colours.$dark-grey;
    margin: spacings.$m spacings.$xl;
  }
}
