@use "../../style/colours";
@use "../../style/spacings";

$header-size: 100px;

#working-groups {
  #working-groups-search {
    background-color: colours.$grey;
    position: sticky;
    top: $header-size;
    #divider {
      border: solid 1.5px;
      border-radius: 1px;
      margin: spacings.$m spacings.$xl;
      border-color: colours.$dark-grey;
    }
  }

  #groups {
    overflow-y: scroll;
    padding: spacings.$m spacings.$xl;
  }
}
