# This a reversed .gitignore. We ignore everything and only add what we need.
/*

# ------------------------------------ App ----------------------------------- #
!/src
!/index.html

# ---------------------------------- NestJS ---------------------------------- #
!/nest-cli.json

# ----------------------------------- PNPM ----------------------------------- #
!/.npmrc
!/package.json

# -------------------------------- Typescript -------------------------------- #
!/tsconfig.build.json
!/tsconfig.json

# ----------------------------------- Vite ----------------------------------- #
!/vite.config.ts
!/.env.production