@use "@style/colours";
@use "@style/spacings";
@use "@style/layouts";
@use "@style/font-sizes";

#forgot-password-form {
  background-color: #f0f0f0;
  border-radius: 8px;
  width: 40%;
  max-width: 500px;
  padding: spacings.$xl spacings.$l;
  #forgot-password-title {
    margin: 0 0 spacings.$m 0;
    text-align: center;
    font-size: font-sizes.$l;
  }
  p {
    margin: spacings.$l 0;
    font-size: font-sizes.$m;
  }
  #email-address {
    margin: 0 0 spacings.$l 0;
    label {
      margin: spacings.$s 0;
    }
    input {
      font-size: font-sizes.$m;
    }
  }
  #form-group {
    @include layouts.flex(column);
    row-gap: spacings.$m;
    #reset-password-button {
      width: 100%;
      padding: spacings.$s 0;
      background-color: colours.$yellow;
      color: black;
    }
    #cancel-button {
      width: 100%;
      padding: spacings.$s 0;
      background-color: colours.$purple;
      color: white;
    }
  }
}