@use "@style/colours";
@use "@style/spacings";
@use "@style/layouts";
@use "@style/font-sizes";
@use "@style/components/button";

#login-form {
  background-color: #f0f0f0;
  @include layouts.grid(1fr, repeat(5, auto));
  padding: spacings.$xl spacings.$l;
  border-radius: 8px;
  row-gap: spacings.$m;
  width: 30%;
  max-width: 400px;

  #login-title {
    margin-bottom: spacings.$m;
    text-align: center;
    font-size: font-sizes.$l;
  }

  .forgot-password-link {
    margin: spacings.$m 0;
    color: #d81159;
    cursor: pointer;
    font-size: font-sizes.$m;
    font-style: italic;
  }
  #button-container {
    @include layouts.flex(column);
    row-gap: spacings.$s;
    .create-account-button {
      @extend %rounded-button;
      text-align: center;
      background-color: #8f2d56;
      padding: spacings.$s 0;
      margin: 0;
      width: 100%;
      color: white;
    }
    .login-button {
      width: 100%;
      padding: spacings.$s 0;
      background-color: #4eb1be;
      color: white;
    }

    .login-button:hover {
      background-color: colours.$green-blue;
    }

    .signup-button {
      background-color: #ffbc42;
      color: black;
      width: 60%;
    }
  }
}
