@use "sass:color";

$white: white;
$black: black;
$grey: #f0f0f0;
$dark-grey: #ccc;
$yellow: #FFBC42;
$red: #D81159;
$purple: #8F2D58;
$transparent-purple: rgb(143, 45, 88, 0.7);
$green-blue: #218380;
$light-blue: #4aabaf;
