@use "@style/colours";
@use "@style/layouts";
@use "@style/spacings";

#group-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  @include layouts.flex(row, center, center);
  width: 100%;
  overflow: hidden;
  z-index: 2;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  #group-modal {
    position: relative;
    @include layouts.grid(1fr 2fr, auto 2fr 1fr);
    padding: spacings.$m;
    column-gap: spacings.$m;
    row-gap: spacings.$m;
    z-index: 3;
    background-color: white;
    width: 80%;
    max-height: 60vh;
    height: 80%;
    justify-self: center;
    border-radius: 10px;
    #group-name {
      grid-column: 2;
      height: 60px;
      width: 100%;
      justify-self: center;
      border: 2px solid black;
    }
    button {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
    }
    #validate-button {
      height: 60px;
      width: fit-content;
      padding: 0 spacings.$m;
      align-self: center;
      position: relative;
      background-color: colours.$light-blue;
    }
    textarea {
      width: 100%;
      resize: none;
      border: 2px solid black;
      border-radius: 5px;
    }
  }
}
