@use "@style/colours";
@use "@style/layouts";
@use "@style/spacings";
@use "@style/font-sizes";

#header {
  @include layouts.flex(row, flex-end, center);
  display: flex;
  position: sticky;
  right: 0;
  z-index: 3;
  top: 0;
  padding: 0 spacings.$xl 0 spacings.$xxl;
  column-gap: spacings.$xl;
  height: 150px;
  background-color: colours.$light-blue;

  .selected {
    color: colours.$purple;
    border-bottom: solid 2px colours.$purple;
  }

  a {
    font-size: font-sizes.$m;
    color: colours.$black;
  }

  #logo{
    margin-right: auto;
    height: 30%;
  }

  #profil-link {
    margin-left: auto;
    width: 60px;
    height: 70px;
    padding: 0;
  }
  #profil {
    width: 100%;
    height: 100%;
  }
}
