@use "../../../style/colours";
@use "../../../style/layouts";
@use "../../../style/spacings";
@use "../../../style/font-sizes";

#switch-button {
  @include layouts.flex(row, center, center);
  column-gap: spacings.$s;
  row-gap: spacings.$s;

  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
    margin: 0px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: colours.$dark-grey;
    border-radius: 34px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: colours.$green-blue;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px colours.$green-blue;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round:before {
    border-radius: 50%;
  }

  p {
    padding: 0px;
    font-size: font-sizes.$m;
  }
}
