# This a reversed .gitignore. We ignore everything and only add what we need.
*

# ------------------------------------ App ----------------------------------- #
!prisma
!types

# ----------------------------------- PNPM ----------------------------------- #
!.npmrc
!package.json

# -------------------------------- Typescript -------------------------------- #
!tsconfig*.json
