@use "../../style/colours";
@use "../../style/layouts";
@use "../../style/spacings";
@use "sass:math";

#user-cards {
  @include layouts.grid(repeat(5, auto), auto);
  overflow-y: scroll;
  margin: spacings.$m;
  gap: spacings.$m;
}
#create-group{
  background-color: colours.$purple;
  padding: 10px 45px;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 100px;
}
