@use "@style/colours";
@use "@style/layouts";
@use "@style/spacings";

#group {
  @include layouts.grid(1fr 3fr, 2fr 1fr);
  height: calc(100vh - 200px);
  width: 100%;

  #description {
    @include layouts.flex(row, center, center);
    background-color: colours.$grey;
  }
  #participants-container {
    @include layouts.flex(row, center, center);
    padding: spacings.$s;
  }
  #documents-container {
    @include layouts.flex(row, center, center);
    padding: spacings.$s;
  }
  #events-container {
    @include layouts.flex(row, center, center);
    padding: spacings.$s;
  }
}
