@use "@style/colours";
@use "@style/layouts";
@use "@style/spacings";
@use "@style/font-sizes";

#search-bar {
    @include layouts.flex(row, center, center);
    padding: 0 spacings.$s 0 0;
    border: solid 1.5px;
    border-radius: 5px;
    border-color: colours.$dark-grey;

    #search-input{
        background-color: transparent;
        border: none
    }
    #search-button{
        width: 30px;
    }
}
