@use "@style/colours";
@use "@style/spacings";

#tags-container {
  width:100%;
  #tags-container-selected {
    margin: 0px 0px 25px 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px;
    width: 100%;
    .tag-selected {
      background-color: colours.$green-blue;
      color: white;
      margin: 20px;
      border: 2px solid #218381;
      margin: spacings.$xs;
    }
  }

  #tags-container-options {
    margin: 0px 0px 15px 0px;
    .tag {
      border: 2px solid #218381;
      margin: spacings.$xs;
    }
  }
}
