@use "@style/spacings";
@use "@style/font-sizes";

.form-group {
  margin-bottom: 0;
  textarea {
    min-height: spacings.$xxl;
    resize: vertical;
  }
  input {
    font-size: font-sizes.$m;
  }
}

label {
  display: block;
  margin-bottom: spacings.$xs;
  font-size: font-sizes.$m;
}
